body {
  background: #fefefe;
}

/* Logo */
#login h1 a,
.login h1 a {
  width: 100%;
  background-image: url('../media/logo.png');
  background-size: contain;
}

#login form,
.login form {
  background-color: #f9f9f9;
}

#login form label,
.login form label {
  color: #2d385f;
}

/* Bouton */
.wp-core-ui .button-primary {
  background: #00a7bf;
  border-color: #00a7bf;
}

.wp-core-ui .button-primary:hover {
  background: #027384;
  border-color: #027384;
}

/* Liens */
.login #backtoblog a,
.login #nav a,
.privacy-policy-page-link a {
  color: #00a7bf;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.privacy-policy-page-link a:hover {
  color: #027384;
}
