.entry-content {
  @apply min-h-[20vh];
}

::selection {
  @apply text-white bg-dark-blue;
}

.main-content {
  margin-block-start: 0;
}

.current-menu-item > a,
.current-menu-ancestor {
  @apply font-semibold;
}

.gm-iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

/*
.main-content
  > .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)),
.main-content-simple
  > .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  @apply px-6 lg:px-0;
} */

/** title **/

h1.wp-block-post-title {
  @apply relative after:absolute after:bottom-1 md:after:bottom-3 lg:after:bottom-5 after:left-0 after:content-[''] after:w-1/6 after:h-1 after:block after:bg-tertiary after:rounded;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* h2 {
  @apply relative after:absolute after:bottom-1 md:after:bottom-3 lg:after:bottom-5 after:left-0 after:content-[''] after:w-1/4 after:h-2 after:block after:bg-light-blue after:rounded;
} */

/** flickity */

.cvs-carousel-grouped .flickity-button {
  @apply hidden w-6 h-10 bg-transparent border-0 md:block hover:bg-transparent;
}

.cvs-carousel-grouped .flickity-button[disabled='true'],
.gm-carousel-grouped .flickity-button[disabled='true'] {
  @apply hidden;
}

.cvs-carousel-grouped .flickity-button svg {
  @apply hidden;
}

.cvs-carousel-grouped .flickity-prev-next-button.previous {
  @apply bg-center bg-no-repeat bg-contain border-0 -left-8 lg:-left-12 bg-previous w-9 h-9;
}

.cvs-carousel-grouped .flickity-prev-next-button.next {
  @apply bg-center bg-no-repeat bg-contain border-0 -right-8 lg:-right-12 bg-next w-9 h-9;
}

.cvs-carousel-grouped .flickity-page-dots {
  @apply mx-auto border-0 -bottom-10 max-w-none;
}

.cvs-carousel-grouped .flickity-page-dot {
  @apply w-4 h-4 bg-gray-400 focus:outline-none active:outline-none;
}

.cvs-carousel-grouped .flickity-page-dots .is-selected {
  /* @apply bg-primary; */
}
