.gm-carousel-grouped .flickity-button {
  @apply hidden lg:block;
}

.gm-block-carousel_wrapper {
  @apply relative h-screen w-full min-h-[45rem] pb-14 max-h-[800px];
}

.gm-block-carousel_item {
  @apply relative h-screen w-full min-h-[45rem] overflow-hidden after:block after:bg-black after:opacity-40 after:absolute after:content-[''] after:inset-0 after:w-full after:h-full after:z-0 max-h-[800px];
}

.gm-block-carousel_item img {
  @apply object-cover object-center w-full h-full;
}

.gm-block-carousel_item > .wp-block-group {
  @apply absolute bottom-0 z-10 flex flex-col items-center justify-center w-full h-full px-4 mx-auto text-center top-14 max-w-wide;
}

@media screen and (min-width: 1094px) {
  .gm-block-carousel_item > .wp-block-group {
    left: calc((100vw - var(--wp--style--global--wide-size)) / 2);
  }
}

.gm-block-carousel_item > .wp-block-group > .wp-block-heading {
  @apply relative z-10 w-11/12 p-0 m-0 text-5xl text-secondary md:text-6xl lg:text-7xl xl:text-8xl text-transparent bg-gradient-to-r bg-clip-text from-[#fff1e8] to-[#f6ecd6] animate-text-gradient;
}

.gm-block-carousel_item > .wp-block-group > .wp-block-heading::before {
  --vp-home-hero-image-background-image: linear-gradient(
    -5deg,
    #d59a16 50%,
    #00a7bf 50%
  );
  content: '';
  width: 100%;
  height: 100%;
  --vp-home-hero-image-filter: blur(60px);
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
}
.gm-block-carousel_item > .wp-block-group > .wp-block-heading::after {
  --vp-home-hero-image-background-image: linear-gradient(
    -5deg,
    #d59a16 50%,
    #00a7bf 50%
  );
  content: '';
  width: 100%;
  height: 100%;
  --vp-home-hero-image-filter: blur(80px);
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
}

.gm-block-carousel_item > .wp-block-group > p {
  @apply relative z-10 w-10/12 text-xl italic text-white lg:text-2xl lg:w-8/12;
  text-wrap: balance;
}

.gm-block-carousel_item > .wp-block-group > .wp-block-button {
  @apply pt-4;
}
