:root {
  --gdpr-bg-banner: #f2f2f2;
  --gdpr-bg-modal: #fefefe;
  --gdpr-shadow-modal: #888;
  --gdpr-bg-mask: rgba(46, 46, 45, 0.4);
  --gdpr-color-primary: #1e515d;
  --gdpr-color-success: #1e515d;
  --gdpr-color-info: #5bc0de;
  --gdpr-color-warning: #f0ad4e;
  --gdpr-color-danger: #d9534f;
  --gdpr-color-disabled: #e3e3e3;
  --gdpr-color-inverse: #333;
  --gdpr-color-muted: rgb(225, 237, 248);
  --gdpr-color-base: #4a4a49;
  --gdpr-font-black: --gdpr-color-base;
  --gdpr-font-white: #fff;
  --gdpr-font-gray: #666;
  --gdpr-bg-head-modal: #f9f9f9;
  --gdpr-bg-list-modal: #c52f2f;
  --gdpr-bg-action-modal: #f9f9f9;
  --gdpr-color-border: #e3e3e3;
  --gdpr-radius-bt: 25px;
}

#gdpr-cookie .gdpr_btn {
  @apply text-sm font-bold rounded-md;
}

#gdpr-cookie div.gdpr_banner {
  @apply flex items-center py-0.5 px-1 border-t border-b-0 border-l-0 border-r-0 border-gray-300;
}

#gdpr-cookie #gm_modal_title {
  @apply text-dark-gray;
}

#gdpr-cookie .gdpr_modal_intro {
  @apply p-4 text-sm text-dark-gray;
}

#gdpr-cookie .gdpr_modal_info {
  @apply p-4;
}

#gdpr-cookie .gdpr_modal_head-content {
  @apply border-t-0 border-b border-l-0 border-r-0 border-gray-300;
}

#gdpr-cookie .gdpr_list_element-desc {
  @apply w-10/12 text-dark-gray;
}

#gdpr-cookie .gdpr_list_element-desc > p {
  @apply p-0 m-0;
}

#gdpr-cookie .gdpr_modal_button-all {
  @apply border-t-0 border-b-0;
}

#gdpr-cookie .gdpr_list_element {
  @apply border-t-0 border-b-0;
}

#gdpr-cookie .gdpr_list_element-activate,
#gdpr-cookie .gdpr_list_element-disabled {
  @apply border-l-0;
}

#gdpr-cookie .gdpr_modal_list-head {
  @apply hidden;
}

#gdpr-cookie .gdpr_element-action btn {
  @apply leading-6;
}

#gdpr-cookie div.gdpr_banner-content {
  @apply flex flex-col lg:flex-row items-center justify-center max-w-[80vw] text-base;
}

#gdpr-cookie div.gdpr_banner-content .gdpr_banner-text {
  @apply justify-center w-full px-0 text-dark-gray;
}

.gdpr_btn:focus {
  @apply outline-none;
}

#gdpr-cookie button {
  @apply text-sm leading-7;
}

#gdpr-cookie .gdpr_modal_list-content {
  @apply overflow-x-hidden bg-none;
}

#gdpr-cookie div.gdpr_banner-actions {
  @apply flex-row-reverse;
}

#gdpr-cookie button {
  @apply text-base;
  transition: background 0.6s ease-out, border 0.6s ease-out;
}

#gdpr-cookie
  div.gdpr_banner-content
  div.gdpr_banner-actions
  button.gdpr_btn-success {
  @apply text-white border-none bg-dark-blue;
}

#gdpr-cookie
  div.gdpr_banner-content
  div.gdpr_banner-actions
  button.gdpr_btn-success:hover {
  @apply text-white border border-solid border-dark-blue bg-dark-blue/80;
}

#gdpr-cookie
  div.gdpr_banner-content
  div.gdpr_banner-actions
  button.gdpr_btn-default {
  @apply mr-2 font-semibold border border-solid bg-quinary text-dark-blue border-dark-blue hover:border-dark-blue/80;
}

#gdpr-cookie
  div.gdpr_banner-content
  div.gdpr_banner-actions
  button.gdpr_btn-default:hover {
  @apply border-tertiary;
}

.gdpr_btn.gdpr_btn-success {
  @apply text-white;
}

#gdpr-cookie .gdpr_modal_list-head-text {
  @apply text-lg text-dark-gray;
}

.gdpr_modal_content {
  @apply w-[64vw];
}

#gdpr-cookie .gdpr_modal_info {
  @apply hidden;
}

#gdpr-cookie .gdpr_modal_action {
  @apply justify-end;
}

#gdpr-cookie .gdpr_modal_action button {
  @apply px-5 py-3 my-4;
}

.gdpr_modal_intro {
  @apply text-sm;
}

@media screen and (max-width: 1200px) {
  #gdpr-cookie div.gdpr_banner-content {
    @apply max-w-[100vw];
  }
  .gdpr_modal_content {
    @apply w-[80vw];
  }
}
@media screen and (max-width: 769px) {
  #gdpr-cookie button {
    @apply px-4 py-2;
  }

  .gdpr_modal_content {
    @apply w-[95vw] max-h-[95vh];
  }
  .gdpr_banner-content {
    @apply max-w-[100vw] flex-wrap;
  }
  .gdpr_banner-actions {
    @apply w-[100vw];
  }
  .gdpr_banner-actions .gdpr_btn {
    @apply flex-1;
  }

  #gdpr-cookie .gdpr_modal_action {
    @apply flex-col justify-center;
  }

  #gdpr-cookie .gdpr_modal_list-content {
    @apply max-h-[40vh];
  }

  #gdpr-cookie .gdpr_modal_action button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 0;
    padding: 1.2rem 2rem;
  }

  #gdpr-cookie .gdpr_list_element-desc {
    width: 95%;
  }

  #gdpr-cookie .gdpr_modal_intro {
    font-size: 14px;
  }
}

.gdpr_mask-content {
  z-index: 9999;
  background-color: #ddd;
}
.gdpr_mask-desc {
  text-align: center;
}

.gdpr-mask {
  width: 100%;
  position: relative;
  padding: 0;
  max-width: 100%;
}

.gdpr-ratio {
  padding-top: 56.25%;
}
