<!-- wp:template-part {"slug":"header","theme":"cvsevrier2023",
"tagName":"header","className":"site-header has-hero"} /-->

<!-- wp:group {"tagName":"main", "className": "main-content"} -->
<main class="wp-block-group main-content">
  <!-- wp:cvsevrier/carousel-hero {"name":"cvsevrier/carousel-hero","mode":"preview"} /-->
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:spacer -->
<div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:pattern {"slug": "cvsevrier/partners" } /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
